extends layout 

block mainContent
    h2 Profile
    article(class="profileStats")
        h3(class="profileHeader") Profile Info:
        h3(class="profileStatsText") Username: #{pageData.username}
        h3(class="profileStatsText") Email: #{pageData.email}
    br
    button(id="LogoutBTN", class="PrettyButton") Log Out
